<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>List of Collaborators</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="/css/admin.css" />
</head>

<style>

a {
    color: #007bff;
    text-decoration: none;
    background-color: #192434;
}


[class*=sidebar-dark-] .sidebar a {
    color: #9cc6ff;
}


.content-wrapper {
    background-color: #0e131b;
}

.card-header {
    background-color: #192434;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.btn-tool {
    background-color: transparent;
    color: #040404;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}

.card {
    background-color: #141b26;
    color: white;
}
.page-link{

}

.navbar-dark {
    background-color: #003264;
    border-color: #557b9d;
}

.dark-mode .navbar-dark {
    background-color: #003264;
    border-color: #000000;
}



.nav-sidebar .nav-item>.nav-link {
    margin-bottom: .2rem;
    /* border-radius: 1.13333rem; */
}

#search{
  background-color: #141b26;
  outline: none;
  border-color: #003264;
}
#search2{
  background-color: #141b26;
  outline: none;
  border-color: #003264;
}
.page-link{
  background-color: #003264;
  border-color: #040404;
}

.Transfer{
display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #4646ed;
    color: white;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    }
      </style>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <%- include('nav') %>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="text-white">List of Collaborators</h1>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <div class="form-group" style="text-align: center">
          <input type="text" id="search" placeholder="Enter the member you are looking for" />
        </div>

        <!-- Main content -->
        <section class="content">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title text-white">List of Collaborators</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0" style="overflow-y: hidden">
              <table class="table table-striped projects" id="table1">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Account</th>
                    <th class="text-center">Level</th>
                    <th class="text-center">Balance</th>
                    <th class="text-center">Total Betting</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <!-- #region -->
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example"
              style="margin-top: 20px; display: flex; justify-content: center">
              <ul class="pagination table1">
                <li class="page-item previous">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <div id="numbers" style="display: flex"></div>
                <li class="page-item next">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </section>
        
        
         <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2" display="flex justify-content:space-between">
              <div class="col-sm-6">
                <h1 class="text-white">Agent commission</h1>
              </div>
              
               <button class="Transfer">Transfer commission</button>
               
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

     

        <!-- Main content -->
        <section class="content">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title text-white">List of agent commission</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0" style="overflow-y: hidden">
              <table class="table " id="table2">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Account</th>
                    <th class="text-center">Level</th>
                    <th class="text-center">Balance</th>
                  </tr>
                </thead>
                <tbody class="tbody2">
                  <!-- #region -->
                </tbody>
              </table>
            </div>
            
          </div>
        </section>
        
      </div>
      
      
      
      
      
    
      
      
  </div>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="/js/admin/admin.js"></script>
  <script>
    $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
  </script>
  <script>
    var pageno = 0;
    var pageto = 30;
    var page = 1;

    const Render = (datas) => {
      let html = '';
      datas.map((data) => {
        html += `
        <tr class="text-center" style="">
          <td>${data.id_user}</td>
          <td>
            <b style="color: #2003db">${data.phone}</b>
          </td>
          <td>
            <b>${(data.level == 1) ? 'ADMIN' : (data.level == 2) ? 'CTV' : 'USER'}</b>
          </td>
          <td>
            <b>${data.money}</b>
          </td>
          <td>
            <b>${data.total_betting}</b>
          </td>
          <td class="project-state">
            ${(data.status == 1) ? '<span class="badge badge-success">Online</span>' : '<span class="badge badge-warning">Banned</span>'}
          </td>
          <td class="project-actions text-center" style="min-width: 100px">
            <a class="btn btn-primary btn-sm confirm-btn" href="/admin/manager/ctv/profile/${data.phone}">
              <i class="fas fa-folder"></i> Profile
            </a>
            ${(data.status == 1) ? `<a class="btn btn-info btn-sm btn-danger" id="${data.id}" href="#">
              <i class="fas fa-pencil-alt"></i> Lock
            </a>` : ''}
            ${(data.status == 2) ? `<a class="btn btn-info btn-sm btn-info1" id="${data.id}" href="#">
              <i class="fas fa-pencil-alt"></i> Unlock
            </a>` : ''}
          </td>
        </tr>`;
        $(".tbody").html(html);
      });
      $('.btn-danger').click(function (e) { 
        e.preventDefault();
        let check = confirm("Are you sure you want to lock this account?");
        let id = $(this).attr('id');
        if (check) {
          $.ajax({
            type: "POST",
            url: "/api/webapi/admin/banned",
            data: {
              id: id,
              type: 'close'
            },
            dataType: "json",
            success: function (response) {
              alert(response.message);
              location.reload();
            }
          });
        }
      });

      $('.btn-info1').click(function (e) { 
        e.preventDefault();
        let check = confirm("Are you sure you want to unlock this account?");
        let id = $(this).attr('id');
        if (check) {
          $.ajax({
            type: "POST",
            url: "/api/webapi/admin/banned",
            data: {
              id: id,
              type: 'open'
            },
            dataType: "json",
            success: function (response) {
              alert(response.message);
              location.reload();
            }
          });
        }
      });

    }

    $('#search').keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      var value = $('#search').val().trim();
      if(keycode == '13'){
        $.ajax({
          type: "POST",
          url: "/api/webapi/search",
          data: {
            phone: value,
          },
          dataType: "json",
          success: function (response) {
            if (response.status === true) return Render(response.datas);
          }
        });
      }

    });
    $.ajax({
      type: "POST",
      url: "/api/webapi/admin/listctv",
      data: {
        typeid: "1",
        pageno: pageno,
        pageto: pageto,
        language: "vi",
      },
      dataType: "json",
      success: function (response) {
        if (response.status === true) return Render(response.datas);
      },
    });
    
 
      $('.Transfer').click(function (e) { 
      
         
   $.ajax({
  type: "GET",
  url: "/api/webapi/admin/update-commission", // Ensure this endpoint is correct
  dataType: "json", // Expected data type
  success: function (response) {
    if (response.status === true) {
     alert(response.message);
              location.reload();
    } else {
      console.error("Error in response:", response);
    }
  },
  error: function (xhr, status, error) {
    console.error("AJAX request failed:", status, error);
    console.error("Response text:", xhr.responseText);
  }
});

      
      })
    
    
   $.ajax({
  type: "GET",
  url: "/api/webapi/admin/get-commission", // Ensure this endpoint is correct
  dataType: "json", // Expected data type
  success: function (response) {
    if (response.status === true) {
     Render2(response.data);
    } else {
      console.error("Error in response:", response);
    }
  },
  error: function (xhr, status, error) {
    console.error("AJAX request failed:", status, error);
    console.error("Response text:", xhr.responseText);
  }
});

    
       const Render2 = (datas) => {
      let html = '';
      datas.map((data) => {
        html += `
        <tr class="text-center" style="">
          <td>${data.id_user}</td>
          <td>
            <b style="color: #2003db">${data.phone}</b>
          </td>
          <td>
            <b>${(data.level == 1) ? 'ADMIN' : (data.level == 2) ? 'CTV' : 'USER'}</b>
          </td>
          <td>
            <b>${data.pending_commission}</b>
          </td>
       
        </tr>`;
        $(".tbody2").html(html);
      });
      }
    
  
      
  </script>
  <script src="/js/admin/tables.js"></script>
</body>

</html>
